/*
===============================
===============================

CSS for Homepage
Author: hung.luong@matocreative.vn

===============================
===============================
 */
/*
===============================
===============================

MAIN SETIINGS FOR ALL PAGES
Author: hung.luong@matocreative.vn

===============================
===============================
 */
/*
===============================

VARIABLES

===============================
 */
body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

a {
  color: #333; }
  a:hover {
    color: #666;
    text-decoration: none; }

@font-face {
  font-family: webFont-light;
  src: url("../fonts/SanFranciscoText-Light.otf"); }
@font-face {
  font-family: webFont-bold;
  src: url("../fonts/SanFranciscoText-Bold.otf"); }
@font-face {
  font-family: webFont-semi;
  src: url("../fonts/SanFranciscoText-SemiBold.otf"); }
body {
  font-family: 'webFont-semi';
  letter-spacing: 1px; }

span.light {
  font-family: 'webFont-light' !important; }
span.bold {
  font-family: 'webFont-bold' !important; }

/*
===============================

MIXIN

===============================
 */
/*
===============================

CSS

===============================
 */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002; }
  header .logo {
    position: absolute;
    top: 40px;
    left: 70px; }
  header .nav-btn {
    position: absolute;
    top: 40px;
    right: 70px;
    padding-left: 5px;
    border: 2px solid #fff; }
    header .nav-btn:hover {
      cursor: pointer; }
    header .nav-btn span {
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #fff;
      display: block; }
  header .side-text {
    position: absolute;
    top: 270px;
    left: 100%;
    padding-top: 70px;
    width: 30vh;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-size: 1.5em; }
  header .container .nav-title {
    margin-top: 54px;
    text-transform: uppercase;
    color: #fff; }

section.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: #fffbe0; }
  section.nav .container {
    margin-top: 150px; }
    section.nav .container .main-nav .row .left .nav-list {
      font-size: 4.375em; }
    section.nav .container .main-nav .row .right {
      position: relative; }
      section.nav .container .main-nav .row .right .mask {
        width: 100%;
        height: 400px;
        overflow: hidden;
        background-color: #999; }
        section.nav .container .main-nav .row .right .mask img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      section.nav .container .main-nav .row .right .image-text {
        position: absolute;
        top: 70%;
        left: 80%;
        font-size: 4.375em; }
        section.nav .container .main-nav .row .right .image-text span {
          display: inline-block;
          position: relative; }
          section.nav .container .main-nav .row .right .image-text span:before {
            width: 100px;
            height: 10px;
            background-color: #333;
            content: "";
            position: absolute;
            top: 30px;
            left: -115px; }
    section.nav .container .main-nav .row ul {
      padding-left: 0;
      list-style: none; }
      section.nav .container .main-nav .row ul .nav-social {
        font-size: 1.5em; }
  section.nav .slogan {
    position: absolute;
    bottom: 40px;
    left: 70px;
    font-family: 'webFont-light'; }

section.main-content {
  width: 100%;
  min-height: 100%; }
  section.main-content section .heading {
    margin-bottom: 150px; }
    section.main-content section .heading h4.sub-title {
      font-size: 0.875em; }
    section.main-content section .heading h1.title {
      font-size: 4.375em;
      font-family: webFont-light !important; }
      section.main-content section .heading h1.title b {
        font-family: webFont-bold !important; }
    section.main-content section .heading a {
      font-size: 0.875em;
      color: #999;
      text-decoration: underline; }
      section.main-content section .heading a:hover {
        color: #333;
        text-decoration: underline; }
  section.main-content .mask img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

footer {
  padding-left: 0 !important;
  padding-right: 0 !important; }
  footer .bottom {
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 235px;
    position: relative; }
    footer .bottom .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0; }
    footer .bottom .container .row p {
      color: #fff; }
    footer .bottom .container .row h1 a {
      color: #fff;
      font-family: webFont-light; }
      footer .bottom .container .row h1 a b {
        font-family: webFont-bold; }
      footer .bottom .container .row h1 a:hover {
        color: #fff; }

@media (max-width: 768px) {
  header .logo {
    position: absolute;
    top: 20px;
    left: 20px; }
  header .nav-btn {
    position: absolute;
    top: 20px;
    right: 20px; }
  header .side-text {
    position: absolute;
    top: 270px;
    left: 100%;
    padding-top: 20px;
    width: 30vh;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-size: 1.5em; }
  header .container .nav-title {
    margin-top: 54px;
    text-transform: uppercase;
    color: #fff; }

  footer .bottom {
    padding-top: 150px; } }
.about .about-title {
  margin-top: 20vh; }
.about .about-cover {
  height: 70vh; }
  .about .about-cover .mask {
    width: 100%;
    height: 100%; }
.about .about-head {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffde00; }
  .about .about-head .container {
    position: relative; }
    .about .about-head .container > h1 {
      position: absolute;
      top: 0;
      right: 100%;
      font-size: 4.375em;
      -webkit-transform: rotateZ(-90deg);
      -moz-transform: rotateZ(-90deg);
      -ms-transform: rotateZ(-90deg);
      -o-transform: rotateZ(-90deg);
      transform: rotateZ(-90deg);
      -webkit-transform-origin: top right;
      -moz-transform-origin: top right;
      -ms-transform-origin: top right;
      -o-transform-origin: top right;
      transform-origin: top right; }
    .about .about-head .container p {
      font-size: 2.26em;
      color: 333; }
    .about .about-head .container .row .item ul.list-unstyled {
      position: relative; }
      .about .about-head .container .row .item ul.list-unstyled h1 {
        font-size: 10em;
        font-family: webFont-light;
        position: absolute;
        top: -50px;
        left: -70px;
        opacity: 0.5; }
      .about .about-head .container .row .item ul.list-unstyled li {
        font-size: 0.875em;
        color: #666;
        padding-bottom: 10px; }
.about .about-clients > .row {
  padding-top: 100px;
  padding-bottom: 100px; }
  .about .about-clients > .row .left {
    padding-left: 150px; }
    .about .about-clients > .row .left h1 {
      font-size: 4.375em; }
  .about .about-clients > .row .right {
    background-color: #ffde00;
    padding: 30px; }
    .about .about-clients > .row .right .row .item img {
      width: 70%;
      margin-left: 15%; }

@media (max-width: 768px) {
  .about .about-cover {
    height: 70vh; }
    .about .about-cover .mask {
      width: 100%;
      height: 100%; }
  .about .about-head {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffde00; }
    .about .about-head .container {
      position: relative; }
      .about .about-head .container > h1 {
        position: absolute;
        top: 0;
        right: 100%;
        font-size: 4.375em;
        -webkit-transform: rotateZ(-90deg);
        -moz-transform: rotateZ(-90deg);
        -ms-transform: rotateZ(-90deg);
        -o-transform: rotateZ(-90deg);
        transform: rotateZ(-90deg);
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -ms-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right; }
      .about .about-head .container p {
        font-size: 1.5em;
        color: 333;
        padding-left: 65px;
        padding-right: 15px; }
      .about .about-head .container .row .item {
        padding-left: 80px; }
        .about .about-head .container .row .item ul.list-unstyled {
          position: relative; }
          .about .about-head .container .row .item ul.list-unstyled h1 {
            font-size: 10em;
            font-family: webFont-light;
            position: absolute;
            top: -50px;
            left: -70px;
            opacity: 0.5; }
          .about .about-head .container .row .item ul.list-unstyled li {
            font-size: 0.875em;
            color: #666;
            padding-bottom: 10px; }
  .about .about-clients > .row {
    margin-left: 0;
    margin-right: 0; }
    .about .about-clients > .row .left {
      padding-left: 0px; }
      .about .about-clients > .row .left h1 {
        font-size: 4.375em; }
    .about .about-clients > .row .right {
      background-color: #ffde00;
      padding: 30px 0; }
      .about .about-clients > .row .right .row {
        margin-left: 0;
        margin-right: 0; }
        .about .about-clients > .row .right .row .item img {
          width: 70%;
          margin-left: 15%; } }

/*# sourceMappingURL=about.css.map */
