

header{
    .side-text{

    }
}

.nav{
    .main-nav{
        .left{

        }

        .right{

        }

        ul{
            &.nav-list{
                a{
                    font-size: 4.375em;
                }
            }

            &.nav-social{
                a{
                    font-size: 1.5em;
                }
            }
        }
    }

    .slogan{
        font-family: 'webFont-light';
    }
}