/*
===============================
===============================

MAIN SETIINGS FOR ALL PAGES
Author: hung.luong@matocreative.vn

===============================
===============================
 */


/*
===============================

VARIABLES

===============================
 */

$primary : rgb(255,222,0);

$gray-dark : #333;
$gray : #666;
$gray-light : #999;

body, html{
    width: 100%;
    height: 100%;

    overflow-x: hidden;
}

a{
    color: $gray-dark;

    &:hover{
        color: $gray;
        text-decoration: none;
    }
}

@font-face{
    font-family: webFont-light;
    src: url('../fonts/SanFranciscoText-Light.otf');
}

@font-face{
    font-family: webFont-bold;
    src: url('../fonts/SanFranciscoText-Bold.otf');
}

@font-face{
    font-family: webFont-semi;
    src: url('../fonts/SanFranciscoText-SemiBold.otf');
}

body{
    font-family: 'webFont-semi';
    letter-spacing: 1px;
}

span{
    &.light{
        font-family: 'webFont-light' !important;;
    }

    &.bold{
        font-family: 'webFont-bold' !important;
    }
}

/*
===============================

MIXIN

===============================
 */

@mixin transition(){
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

/*
===============================

CSS

===============================
 */

header{
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;

    .logo{
        position: absolute;
        top: 40px;
        left: 70px;
    }

    .nav-btn{
        position: absolute;
        top: 40px;
        right: 70px;

        padding-left: 5px;
        border: 2px solid #fff;

        &:hover{
            cursor: pointer;
        }

        span{
            text-transform: uppercase;
            letter-spacing: 5px;
            color: #fff;

            display: block;
        }
    }

    .side-text{
        position: absolute;
        top: 270px;
        left: 100%;

        padding-top: 70px;

        width: 30vh;

        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        transform: rotateZ(90deg);

        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left;

        color: #fff;

        font-size: 1.5em;
    }

    .container{
        .nav-title{
            margin-top: 54px;
            text-transform: uppercase;
            color: #fff;
        }
    }
}

section.nav{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;

    background-color: #fffbe0;

    .container{
        margin-top: 150px;

        .main-nav{
            .row{
                .left{
                    .nav-list{
                        font-size: 4.375em;
                    }
                }

                .right{
                    position: relative;

                    .mask{
                        width: 100%;
                        height: 400px;
                        overflow: hidden;

                        background-color: #999;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .image-text{
                        position: absolute;
                        top: 70%;
                        left: 80%;

                        font-size: 4.375em;

                        span{
                            display: inline-block;
                            position: relative;

                            &:before{
                                width: 100px;
                                height: 10px;
                                background-color: $gray-dark;
                                content: "";
                                position: absolute;
                                top: 30px;
                                left: -115px;
                            }
                        }
                    }
                }

                ul{
                    padding-left: 0;
                    list-style: none;

                    .nav-social{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    .slogan{
        position: absolute;
        bottom: 40px;
        left: 70px;

        font-family: 'webFont-light';
    }
}

section.main-content{
    width: 100%;
    min-height: 100%;

    section{

        .heading{
            margin-bottom: 150px;

            h4.sub-title{
                font-size: 0.875em;
            }

            h1.title{
                font-size: 4.375em;
                font-family: webFont-light !important;

                b{
                    font-family: webFont-bold !important;
                }
            }

            a{
                font-size: 0.875em;
                color: #999;
                text-decoration: underline;

                &:hover{
                    color: #333;
                    text-decoration: underline;
                }
            }
        }
    }

    .mask{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

footer{
    padding-left: 0 !important;
    padding-right: 0 !important;

    .bottom{
        width: 100%;
        height: 60vh;

        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        padding-top: 235px;

        position: relative;

        .overlay{
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.6);

            position: absolute;
            top: 0;
            left: 0;
        }

        .container{
            .row{
                p{
                    color: #fff;
                }

                h1{
                    a{
                        color: #fff;
                        font-family: webFont-light;

                        b{
                            font-family: webFont-bold;
                        }

                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    header{
        .logo{
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .nav-btn{
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .side-text{
            position: absolute;
            top: 270px;
            left: 100%;

            padding-top: 20px;

            width: 30vh;

            -webkit-transform: rotateZ(90deg);
            -moz-transform: rotateZ(90deg);
            -ms-transform: rotateZ(90deg);
            -o-transform: rotateZ(90deg);
            transform: rotateZ(90deg);

            -webkit-transform-origin: top left;
            -moz-transform-origin: top left;
            -ms-transform-origin: top left;
            -o-transform-origin: top left;
            transform-origin: top left;

            color: #fff;

            font-size: 1.5em;
        }

        .container{
            .nav-title{
                margin-top: 54px;
                text-transform: uppercase;
                color: #fff;
            }
        }
    }

    footer{
        .bottom{
            padding-top: 150px;
        }
    }
}