/*
===========================
===========================

MAIN STYLE

Author: hung.luong@matocreative.vn

===========================
===========================
 */
/*
MAIN VARIABLES FOR SITE

AUTHOR: hung.luong@matocreative.vn


/*
========== VARIABLES ==========
 */
/*
MAIN MIXIN FOR SITE

AUTHOR: hung.luong@matocreative.vn


/*
========== MIXIN ==========
 */
/*
MAIN FONT SETTINGS FOR SITE

AUTHOR: hung.luong@matocreative.vn


/*
========== FONT SETTINGS ==========
 */
/*
@font-face{
    font-family: 'webFont-light';
    src: url("../fonts/SF-Pro-Display-Light.otf") format('otf');
}

@font-face{
    font-family: 'webFont-bold';
    src: url("../fonts/SF-Pro-Display-Bold.otf") format('otf');
}

@font-face{
    font-family: 'webFont-semi';
    src: url("../fonts/SF-Pro-Display-SemiBold.otf") format('otf');
}

*/
/*
Embed Google Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1px; }

span.light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }
span.bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

/*
MAIN HEADER FOR SITE

AUTHOR: hung.luong@matocreative.vn


/*
========== HEADER ==========
 */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002; }
  header .logo {
    position: absolute;
    top: 40px;
    left: 70px; }
  header .nav-btn {
    position: absolute;
    top: 40px;
    right: 70px;
    padding-left: 5px;
    border: 2px solid #fff; }
    header .nav-btn:hover {
      cursor: pointer; }
    header .nav-btn span {
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #fff;
      display: block; }
  header .side-text {
    position: absolute;
    top: 270px;
    left: 100%;
    padding-top: 70px;
    width: 30vh;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-size: 1.5em; }
  header .container .nav-title {
    margin-top: 54px;
    text-transform: uppercase;
    color: #fff; }

/*
===============================
===============================

MAIN SETIINGS FOR ALL PAGES
Author: hung.luong@matocreative.vn

===============================
===============================
 */
body, html {
  width: 100%;
  height: 100%; }

a {
  color: #333; }
  a:hover {
    color: #666;
    text-decoration: none; }

/*
===============================

CSS

===============================
 */
section.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: #fffbe0; }
  section.nav .container {
    margin-top: 150px; }
    section.nav .container .main-nav .row .left .nav-list {
      font-size: 4.375em; }
    section.nav .container .main-nav .row .right {
      position: relative; }
      section.nav .container .main-nav .row .right .mask {
        width: 100%;
        height: 400px;
        overflow: hidden;
        background-color: #999; }
        section.nav .container .main-nav .row .right .mask img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      section.nav .container .main-nav .row .right .image-text {
        position: absolute;
        top: 70%;
        left: 80%;
        font-size: 4.375em; }
        section.nav .container .main-nav .row .right .image-text span {
          display: inline-block;
          position: relative; }
          section.nav .container .main-nav .row .right .image-text span:before {
            width: 100px;
            height: 10px;
            background-color: #333;
            content: "";
            position: absolute;
            top: 30px;
            left: -115px; }
    section.nav .container .main-nav .row ul {
      padding-left: 0;
      list-style: none; }
      section.nav .container .main-nav .row ul .nav-social {
        font-size: 1.5em; }
  section.nav .slogan {
    position: absolute;
    bottom: 40px;
    left: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; }

section.main-content {
  width: 100%;
  min-height: 100%; }
  section.main-content section .heading {
    margin-bottom: 150px; }
    section.main-content section .heading h4.sub-title {
      font-size: 0.875em; }
    section.main-content section .heading h1.title {
      font-size: 4.375em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300; }
      section.main-content section .heading h1.title b {
        font-family: 'Roboto', sans-serif;
        font-weight: 700; }
    section.main-content section .heading a {
      font-size: 0.875em;
      color: #999;
      text-decoration: underline; }
      section.main-content section .heading a:hover {
        color: #333;
        text-decoration: underline; }
  section.main-content .mask img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (max-width: 768px) {
  header .logo {
    position: absolute;
    top: 20px;
    left: 20px; }
  header .nav-btn {
    position: absolute;
    top: 20px;
    right: 20px; }
  header .side-text {
    position: absolute;
    top: 270px;
    left: 100%;
    padding-top: 20px;
    width: 30vh;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-size: 1.5em; }
  header .container .nav-title {
    margin-top: 54px;
    text-transform: uppercase;
    color: #fff; }

  footer .bottom {
    padding-top: 150px; } }
/*
===============================
===============================

CSS for Homepage
Author: hung.luong@matocreative.vn

===============================
===============================
 */
/*
===============================
===============================

MAIN SETIINGS FOR ALL PAGES
Author: hung.luong@matocreative.vn

===============================
===============================
 */
body, html {
  width: 100%;
  height: 100%; }

a {
  color: #333; }
  a:hover {
    color: #666;
    text-decoration: none; }

/*
===============================

CSS

===============================
 */
section.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: #fffbe0; }
  section.nav .container {
    margin-top: 150px; }
    section.nav .container .main-nav .row .left .nav-list {
      font-size: 4.375em; }
    section.nav .container .main-nav .row .right {
      position: relative; }
      section.nav .container .main-nav .row .right .mask {
        width: 100%;
        height: 400px;
        overflow: hidden;
        background-color: #999; }
        section.nav .container .main-nav .row .right .mask img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      section.nav .container .main-nav .row .right .image-text {
        position: absolute;
        top: 70%;
        left: 80%;
        font-size: 4.375em; }
        section.nav .container .main-nav .row .right .image-text span {
          display: inline-block;
          position: relative; }
          section.nav .container .main-nav .row .right .image-text span:before {
            width: 100px;
            height: 10px;
            background-color: #333;
            content: "";
            position: absolute;
            top: 30px;
            left: -115px; }
    section.nav .container .main-nav .row ul {
      padding-left: 0;
      list-style: none; }
      section.nav .container .main-nav .row ul .nav-social {
        font-size: 1.5em; }
  section.nav .slogan {
    position: absolute;
    bottom: 40px;
    left: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; }

section.main-content {
  width: 100%;
  min-height: 100%; }
  section.main-content section .heading {
    margin-bottom: 150px; }
    section.main-content section .heading h4.sub-title {
      font-size: 0.875em; }
    section.main-content section .heading h1.title {
      font-size: 4.375em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300; }
      section.main-content section .heading h1.title b {
        font-family: 'Roboto', sans-serif;
        font-weight: 700; }
    section.main-content section .heading a {
      font-size: 0.875em;
      color: #999;
      text-decoration: underline; }
      section.main-content section .heading a:hover {
        color: #333;
        text-decoration: underline; }
  section.main-content .mask img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (max-width: 768px) {
  header .logo {
    position: absolute;
    top: 20px;
    left: 20px; }
  header .nav-btn {
    position: absolute;
    top: 20px;
    right: 20px; }
  header .side-text {
    position: absolute;
    top: 270px;
    left: 100%;
    padding-top: 20px;
    width: 30vh;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-size: 1.5em; }
  header .container .nav-title {
    margin-top: 54px;
    text-transform: uppercase;
    color: #fff; }

  footer .bottom {
    padding-top: 150px; } }
.homepage #fullpage .section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .homepage #fullpage .section img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900; }
  .homepage #fullpage .section .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 901;
    background-color: rgba(0, 0, 0, 0.5); }
  .homepage #fullpage .section .container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 902;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .homepage #fullpage .section .container .content {
      padding-top: 40vh; }
      .homepage #fullpage .section .container .content a {
        color: #fff; }
      .homepage #fullpage .section .container .content .head {
        font-size: 0.875em;
        color: #fff;
        margin-bottom: 55px; }
      .homepage #fullpage .section .container .content .body {
        font-size: 4.375em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.2;
        max-height: 4em;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; }
      .homepage #fullpage .section .container .content .foot {
        font-size: 0.875em;
        margin-top: 55px; }
        .homepage #fullpage .section .container .content .foot a {
          color: #999;
          text-decoration: underline;
          text-transform: uppercase; }
          .homepage #fullpage .section .container .content .foot a:hover {
            color: #fff; }
  .homepage #fullpage .section .quotation-request {
    position: absolute;
    top: 300px;
    left: 10px;
    z-index: 901;
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg); }
    .homepage #fullpage .section .quotation-request a {
      color: #fff; }

@media (max-width: 768px) {
  .homepage #fullpage .section .container {
    width: 80%;
    margin-left: 5%; }
    .homepage #fullpage .section .container .content {
      padding-top: 20vh; }
      .homepage #fullpage .section .container .content .head {
        font-size: 0.875em;
        color: #fff;
        margin-bottom: 50px; }
      .homepage #fullpage .section .container .content .foot {
        margin-top: 50px; }
  .homepage #fullpage .section .quotation-request {
    top: 300px;
    left: -30px; } }
/*
===============================
===============================

CSS for About
Author: hung.luong@matocreative.vn

===============================
===============================
 */
/*
===============================
===============================

MAIN SETIINGS FOR ALL PAGES
Author: hung.luong@matocreative.vn

===============================
===============================
 */
body, html {
  width: 100%;
  height: 100%; }

a {
  color: #333; }
  a:hover {
    color: #666;
    text-decoration: none; }

/*
===============================

CSS

===============================
 */
section.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: #fffbe0; }
  section.nav .container {
    margin-top: 150px; }
    section.nav .container .main-nav .row .left .nav-list {
      font-size: 4.375em; }
    section.nav .container .main-nav .row .right {
      position: relative; }
      section.nav .container .main-nav .row .right .mask {
        width: 100%;
        height: 400px;
        overflow: hidden;
        background-color: #999; }
        section.nav .container .main-nav .row .right .mask img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      section.nav .container .main-nav .row .right .image-text {
        position: absolute;
        top: 70%;
        left: 80%;
        font-size: 4.375em; }
        section.nav .container .main-nav .row .right .image-text span {
          display: inline-block;
          position: relative; }
          section.nav .container .main-nav .row .right .image-text span:before {
            width: 100px;
            height: 10px;
            background-color: #333;
            content: "";
            position: absolute;
            top: 30px;
            left: -115px; }
    section.nav .container .main-nav .row ul {
      padding-left: 0;
      list-style: none; }
      section.nav .container .main-nav .row ul .nav-social {
        font-size: 1.5em; }
  section.nav .slogan {
    position: absolute;
    bottom: 40px;
    left: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; }

section.main-content {
  width: 100%;
  min-height: 100%; }
  section.main-content section .heading {
    margin-bottom: 150px; }
    section.main-content section .heading h4.sub-title {
      font-size: 0.875em; }
    section.main-content section .heading h1.title {
      font-size: 4.375em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300; }
      section.main-content section .heading h1.title b {
        font-family: 'Roboto', sans-serif;
        font-weight: 700; }
    section.main-content section .heading a {
      font-size: 0.875em;
      color: #999;
      text-decoration: underline; }
      section.main-content section .heading a:hover {
        color: #333;
        text-decoration: underline; }
  section.main-content .mask img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (max-width: 768px) {
  header .logo {
    position: absolute;
    top: 20px;
    left: 20px; }
  header .nav-btn {
    position: absolute;
    top: 20px;
    right: 20px; }
  header .side-text {
    position: absolute;
    top: 270px;
    left: 100%;
    padding-top: 20px;
    width: 30vh;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-size: 1.5em; }
  header .container .nav-title {
    margin-top: 54px;
    text-transform: uppercase;
    color: #fff; }

  footer .bottom {
    padding-top: 150px; } }
.about .about-title {
  margin-top: 20vh; }
.about .about-cover {
  height: 70vh; }
  .about .about-cover .mask {
    width: 100%;
    height: 100%; }
.about .about-head {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffde00; }
  .about .about-head .container {
    position: relative; }
    .about .about-head .container > h1 {
      position: absolute;
      top: 0;
      right: 100%;
      font-size: 4.375em;
      -webkit-transform: rotateZ(-90deg);
      -moz-transform: rotateZ(-90deg);
      -ms-transform: rotateZ(-90deg);
      -o-transform: rotateZ(-90deg);
      transform: rotateZ(-90deg);
      -webkit-transform-origin: top right;
      -moz-transform-origin: top right;
      -ms-transform-origin: top right;
      -o-transform-origin: top right;
      transform-origin: top right; }
    .about .about-head .container p {
      font-size: 2.26em;
      color: 333; }
    .about .about-head .container .row .item ul.list-unstyled {
      position: relative; }
      .about .about-head .container .row .item ul.list-unstyled h1 {
        font-size: 10em;
        font-family: 'webFont-light', Helvetica, Serif;
        position: absolute;
        top: -50px;
        left: -70px;
        opacity: 0.5; }
      .about .about-head .container .row .item ul.list-unstyled li {
        font-size: 0.875em;
        color: #666;
        padding-bottom: 10px; }
.about .about-clients > .row {
  padding-top: 100px;
  padding-bottom: 100px; }
  .about .about-clients > .row .left {
    padding-left: 150px; }
    .about .about-clients > .row .left h1 {
      font-size: 4.375em; }
  .about .about-clients > .row .right {
    background-color: #ffde00;
    padding: 30px; }
    .about .about-clients > .row .right .row .item img {
      width: 70%;
      margin-left: 15%; }

@media (max-width: 768px) {
  .about .about-cover {
    height: 70vh; }
    .about .about-cover .mask {
      width: 100%;
      height: 100%; }
  .about .about-head {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffde00; }
    .about .about-head .container {
      position: relative; }
      .about .about-head .container > h1 {
        position: absolute;
        top: 0;
        right: 100%;
        font-size: 4.375em;
        -webkit-transform: rotateZ(-90deg);
        -moz-transform: rotateZ(-90deg);
        -ms-transform: rotateZ(-90deg);
        -o-transform: rotateZ(-90deg);
        transform: rotateZ(-90deg);
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -ms-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right; }
      .about .about-head .container p {
        font-size: 1.5em;
        color: 333;
        padding-left: 65px;
        padding-right: 15px; }
      .about .about-head .container .row .item {
        padding-left: 80px; }
        .about .about-head .container .row .item ul.list-unstyled {
          position: relative; }
          .about .about-head .container .row .item ul.list-unstyled h1 {
            font-size: 10em;
            font-family: 'webFont-light', Helvetica, Serif;
            position: absolute;
            top: -50px;
            left: -70px;
            opacity: 0.5; }
          .about .about-head .container .row .item ul.list-unstyled li {
            font-size: 0.875em;
            color: #666;
            padding-bottom: 10px; }
  .about .about-clients > .row {
    margin-left: 0;
    margin-right: 0; }
    .about .about-clients > .row .left {
      padding-left: 0px; }
      .about .about-clients > .row .left h1 {
        font-size: 4.375em; }
    .about .about-clients > .row .right {
      background-color: #ffde00;
      padding: 30px 0; }
      .about .about-clients > .row .right .row {
        margin-left: 0;
        margin-right: 0; }
        .about .about-clients > .row .right .row .item img {
          width: 70%;
          margin-left: 15%; } }
/*
===============================
===============================

CSS for Team
Author: hung.luong@matocreative.vn

===============================
===============================
 */
/*
===============================
===============================

MAIN SETIINGS FOR ALL PAGES
Author: hung.luong@matocreative.vn

===============================
===============================
 */
body, html {
  width: 100%;
  height: 100%; }

a {
  color: #333; }
  a:hover {
    color: #666;
    text-decoration: none; }

/*
===============================

CSS

===============================
 */
section.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: #fffbe0; }
  section.nav .container {
    margin-top: 150px; }
    section.nav .container .main-nav .row .left .nav-list {
      font-size: 4.375em; }
    section.nav .container .main-nav .row .right {
      position: relative; }
      section.nav .container .main-nav .row .right .mask {
        width: 100%;
        height: 400px;
        overflow: hidden;
        background-color: #999; }
        section.nav .container .main-nav .row .right .mask img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      section.nav .container .main-nav .row .right .image-text {
        position: absolute;
        top: 70%;
        left: 80%;
        font-size: 4.375em; }
        section.nav .container .main-nav .row .right .image-text span {
          display: inline-block;
          position: relative; }
          section.nav .container .main-nav .row .right .image-text span:before {
            width: 100px;
            height: 10px;
            background-color: #333;
            content: "";
            position: absolute;
            top: 30px;
            left: -115px; }
    section.nav .container .main-nav .row ul {
      padding-left: 0;
      list-style: none; }
      section.nav .container .main-nav .row ul .nav-social {
        font-size: 1.5em; }
  section.nav .slogan {
    position: absolute;
    bottom: 40px;
    left: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; }

section.main-content {
  width: 100%;
  min-height: 100%; }
  section.main-content section .heading {
    margin-bottom: 150px; }
    section.main-content section .heading h4.sub-title {
      font-size: 0.875em; }
    section.main-content section .heading h1.title {
      font-size: 4.375em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300; }
      section.main-content section .heading h1.title b {
        font-family: 'Roboto', sans-serif;
        font-weight: 700; }
    section.main-content section .heading a {
      font-size: 0.875em;
      color: #999;
      text-decoration: underline; }
      section.main-content section .heading a:hover {
        color: #333;
        text-decoration: underline; }
  section.main-content .mask img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (max-width: 768px) {
  header .logo {
    position: absolute;
    top: 20px;
    left: 20px; }
  header .nav-btn {
    position: absolute;
    top: 20px;
    right: 20px; }
  header .side-text {
    position: absolute;
    top: 270px;
    left: 100%;
    padding-top: 20px;
    width: 30vh;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-size: 1.5em; }
  header .container .nav-title {
    margin-top: 54px;
    text-transform: uppercase;
    color: #fff; }

  footer .bottom {
    padding-top: 150px; } }
.team {
  padding-top: 280px; }
  .team .team-head {
    padding-left: 100px;
    padding-right: 100px; }
    .team .team-head .row .item h1 {
      font-size: 4.375em;
      margin-top: 0; }
    .team .team-head .row .item p {
      font-size: 1.5em; }
  .team .team-cover {
    margin-top: 150px;
    padding-left: 0;
    padding-right: 0;
    height: 70vh;
    background-color: #ffde00; }
    .team .team-cover .mask {
      width: 80%;
      height: 100%;
      margin-left: 10%;
      margin-top: 100px;
      overflow: hidden; }
  .team .team-detail {
    margin-top: 200px;
    padding-left: 0;
    padding-right: 0; }
    .team .team-detail .row .item .background {
      width: 100%;
      height: 300px;
      background-color: rgba(0, 0, 0, 0.2); }
      .team .team-detail .row .item .background .mask {
        width: 40%;
        height: 100%;
        margin-left: 30%;
        overflow: hidden; }
    .team .team-detail .row .item .text {
      width: 100%;
      text-align: center; }
      .team .team-detail .row .item .text h3 {
        font-size: 1.875em; }
      .team .team-detail .row .item .text p {
        font-size: 0.875em;
        color: #999; }
      .team .team-detail .row .item .text ul li a {
        font-size: 0.875em; }

@media (max-width: 768px) {
  .team {
    padding-top: 20vh; }
    .team .team-head {
      padding-left: 15px;
      padding-right: 15px; }
    .team .team-cover {
      margin-top: 50px;
      height: 50vh; }
    .team .team-detail {
      margin-top: 200px;
      padding-left: 0;
      padding-right: 0; }
      .team .team-detail .row .item .background {
        width: 100%;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.2); }
        .team .team-detail .row .item .background .mask {
          width: 40%;
          height: 100%;
          margin-left: 30%;
          overflow: hidden; }
      .team .team-detail .row .item .text {
        width: 100%;
        text-align: center; }
        .team .team-detail .row .item .text h3 {
          font-size: 1.875em; }
        .team .team-detail .row .item .text p {
          font-size: 0.875em;
          color: #999; }
        .team .team-detail .row .item .text ul li a {
          font-size: 0.875em; } }
/*
===============================
===============================

CSS for Portfolio
Author: hung.luong@matocreative.vn

===============================
===============================
 */
.work .cover {
  width: 100%;
  height: 80vh;
  margin-top: 20vh;
  position: relative; }
  .work .cover .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0; }
  .work .cover .mask {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .work .cover .intro {
    position: absolute;
    top: 50vh;
    left: 50%;
    color: #fff; }
    .work .cover .intro .head {
      font-family: 'webFont-semi', Helvetica, Serif;
      font-size: 0.875em; }
    .work .cover .intro .body {
      font-family: 'webFont-semi', Helvetica, Serif;
      font-size: 4.375em; }
    .work .cover .intro .foot a {
      color: #fff;
      font-size: 0.875em; }
      .work .cover .intro .foot a:hover {
        color: #fff; }
.work .work-head .container {
  padding-top: 100px; }
  .work .work-head .container .row .work-intro p {
    font-size: 2.26em;
    color: 333; }
  .work .work-head .container .row .work-control {
    margin-top: 60px; }
    .work .work-head .container .row .work-control ul li {
      margin-bottom: 15px; }
      .work .work-head .container .row .work-control ul li a {
        font-size: 0.875em;
        color: #999; }
        .work .work-head .container .row .work-control ul li a:hover {
          color: #333;
          cursor: pointer; }
.work .work-head .container-fluid .work-content {
  margin-top: 100px; }
  .work .work-head .container-fluid .work-content .grid-sizer, .work .work-head .container-fluid .work-content .grid-item {
    width: 50%; }
  .work .work-head .container-fluid .work-content .grid-item {
    position: relative;
    margin-bottom: 60px; }
    .work .work-head .container-fluid .work-content .grid-item:nth-of-type(odd) .mask {
      height: 450px; }
    .work .work-head .container-fluid .work-content .grid-item:nth-of-type(even) .mask {
      height: 300px; }
    .work .work-head .container-fluid .work-content .grid-item .mask {
      width: 80%;
      overflow: hidden;
      margin-left: 20%; }
      .work .work-head .container-fluid .work-content .grid-item .mask img {
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s; }
    .work .work-head .container-fluid .work-content .grid-item span {
      position: absolute; }
      .work .work-head .container-fluid .work-content .grid-item span.brand {
        top: 0;
        right: 85%;
        width: 100%;
        text-align: right;
        -webkit-transform: rotateZ(-90deg);
        -moz-transform: rotateZ(-90deg);
        -ms-transform: rotateZ(-90deg);
        -o-transform: rotateZ(-90deg);
        transform: rotateZ(-90deg);
        -webkit-transform-origin: right top;
        -moz-transform-origin: right top;
        -ms-transform-origin: right top;
        -o-transform-origin: right top;
        transform-origin: right top; }
      .work .work-head .container-fluid .work-content .grid-item span.name {
        top: -15px;
        left: 20%;
        opacity: 0;
        padding-left: 15px;
        font-size: 2.25em;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.168;
        height: 6.75em;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s; }
      .work .work-head .container-fluid .work-content .grid-item span.id {
        bottom: 0;
        right: 0;
        padding-bottom: 30px;
        padding-right: 15px; }
    .work .work-head .container-fluid .work-content .grid-item a.see-detail {
      position: absolute;
      bottom: 0px;
      left: 25%;
      padding-left: 15px;
      padding-bottom: 15px;
      opacity: 0;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
      .work .work-head .container-fluid .work-content .grid-item a.see-detail:hover {
        color: #333;
        text-decoration: underline; }
    .work .work-head .container-fluid .work-content .grid-item:hover span.name {
      left: 25%;
      opacity: 1;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
    .work .work-head .container-fluid .work-content .grid-item:hover a.see-detail {
      bottom: 15px;
      opacity: 1;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
    .work .work-head .container-fluid .work-content .grid-item:hover .mask img {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }

.work-detail {
  padding-top: 280px; }
  .work-detail .work-detail-head {
    padding-left: 100px;
    padding-right: 100px; }
    .work-detail .work-detail-head .row .item h1 {
      font-size: 4.375em;
      margin-top: 0; }
    .work-detail .work-detail-head .row .item p {
      font-size: 1.5em; }
  .work-detail .work-detail-cover {
    margin-top: 150px;
    padding-left: 0;
    padding-right: 0;
    height: 70vh; }
    .work-detail .work-detail-cover .mask {
      width: 80%;
      height: 100%;
      margin-left: 10%;
      margin-top: 100px;
      overflow: hidden; }
  .work-detail .work-detail-head {
    margin-top: 100px; }
    .work-detail .work-detail-head .work-detail-description {
      padding-top: 100px; }
      .work-detail .work-detail-head .work-detail-description p {
        font-family: 'webFont-semi', Helvetica, Serif;
        font-size: 2.26em;
        color: 999; }
    .work-detail .work-detail-head .work-detail-info .row {
      padding-top: 50px; }
      .work-detail .work-detail-head .work-detail-info .row h4 {
        font-family: 'webFont-bold', Helvetica, Serif;
        font-size: 0.875em;
        color: #333; }
      .work-detail .work-detail-head .work-detail-info .row span {
        font-size: 0.875em;
        color: #999; }
  .work-detail .work-detail-body article img {
    width: 100% !important;
    margin-bottom: 15px; }

footer .container .row:first-of-type {
  margin-top: 50px; }
footer .container .row:nth-of-type(2) {
  margin-top: 100px;
  padding-bottom: 50px; }
  footer .container .row:nth-of-type(2) b {
    font-family: 'webFont-bold', Helvetica, Serif; }
footer .related {
  padding-left: 0;
  padding-right: 0; }
  footer .related .row {
    margin-left: 0;
    margin-right: 0; }
    footer .related .row .item {
      padding-left: 0;
      padding-right: 0; }
      footer .related .row .item .mask {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative; }
        footer .related .row .item .mask span.name {
          position: absolute;
          top: 30px;
          left: 10%;
          width: 80%;
          font-size: 2.25em; }
        footer .related .row .item .mask span.brand {
          position: absolute;
          top: 30px;
          right: 100%;
          width: 100%;
          padding-top: 10px;
          text-align: right;
          -webkit-transform: rotateZ(-90deg);
          -moz-transform: rotateZ(-90deg);
          -ms-transform: rotateZ(-90deg);
          -o-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
          -webkit-transform-origin: right top;
          -moz-transform-origin: right top;
          -ms-transform-origin: right top;
          -o-transform-origin: right top;
          transform-origin: right top; }
        footer .related .row .item .mask span.id {
          position: absolute;
          bottom: 15px;
          left: 10%; }
        footer .related .row .item .mask a.see-detail {
          position: absolute;
          bottom: 15px;
          left: 10%; }
          footer .related .row .item .mask a.see-detail:hover {
            color: #333;
            text-decoration: underline; }

@media (max-width: 768px) {
  .work .cover .intro {
    left: 10%; }
  .work .work-head .container .row .work-intro p {
    font-size: 1.5em; }
  .work .work-head .container .row .work-control {
    margin-top: 30px; }
  .work .work-head .container-fluid .work-content .grid-item {
    margin-bottom: 60px; }
    .work .work-head .container-fluid .work-content .grid-item:nth-of-type(odd) .mask {
      height: 250px; }
    .work .work-head .container-fluid .work-content .grid-item:nth-of-type(even) .mask {
      height: 150px; }
    .work .work-head .container-fluid .work-content .grid-item .mask {
      width: 90%;
      margin-left: 5%; }
    .work .work-head .container-fluid .work-content .grid-item span {
      position: absolute; }
      .work .work-head .container-fluid .work-content .grid-item span.brand {
        top: 0;
        right: 100%; }

  .work-detail {
    padding-top: 20vh; }
    .work-detail .work-detail-head {
      padding-left: 15px;
      padding-right: 15px; }
    .work-detail .work-detail-cover {
      margin-top: 50px;
      height: 50vh; }
    .work-detail .work-detail-head {
      margin-top: 100px; } }
/*
===============================
===============================

CSS for Contact
Author: hung.luong@matocreative.vn

===============================
===============================
 */
/*
===============================
===============================

MAIN SETIINGS FOR ALL PAGES
Author: hung.luong@matocreative.vn

===============================
===============================
 */
body, html {
  width: 100%;
  height: 100%; }

a {
  color: #333; }
  a:hover {
    color: #666;
    text-decoration: none; }

/*
===============================

CSS

===============================
 */
section.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: #fffbe0; }
  section.nav .container {
    margin-top: 150px; }
    section.nav .container .main-nav .row .left .nav-list {
      font-size: 4.375em; }
    section.nav .container .main-nav .row .right {
      position: relative; }
      section.nav .container .main-nav .row .right .mask {
        width: 100%;
        height: 400px;
        overflow: hidden;
        background-color: #999; }
        section.nav .container .main-nav .row .right .mask img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      section.nav .container .main-nav .row .right .image-text {
        position: absolute;
        top: 70%;
        left: 80%;
        font-size: 4.375em; }
        section.nav .container .main-nav .row .right .image-text span {
          display: inline-block;
          position: relative; }
          section.nav .container .main-nav .row .right .image-text span:before {
            width: 100px;
            height: 10px;
            background-color: #333;
            content: "";
            position: absolute;
            top: 30px;
            left: -115px; }
    section.nav .container .main-nav .row ul {
      padding-left: 0;
      list-style: none; }
      section.nav .container .main-nav .row ul .nav-social {
        font-size: 1.5em; }
  section.nav .slogan {
    position: absolute;
    bottom: 40px;
    left: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; }

section.main-content {
  width: 100%;
  min-height: 100%; }
  section.main-content section .heading {
    margin-bottom: 150px; }
    section.main-content section .heading h4.sub-title {
      font-size: 0.875em; }
    section.main-content section .heading h1.title {
      font-size: 4.375em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300; }
      section.main-content section .heading h1.title b {
        font-family: 'Roboto', sans-serif;
        font-weight: 700; }
    section.main-content section .heading a {
      font-size: 0.875em;
      color: #999;
      text-decoration: underline; }
      section.main-content section .heading a:hover {
        color: #333;
        text-decoration: underline; }
  section.main-content .mask img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (max-width: 768px) {
  header .logo {
    position: absolute;
    top: 20px;
    left: 20px; }
  header .nav-btn {
    position: absolute;
    top: 20px;
    right: 20px; }
  header .side-text {
    position: absolute;
    top: 270px;
    left: 100%;
    padding-top: 20px;
    width: 30vh;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-size: 1.5em; }
  header .container .nav-title {
    margin-top: 54px;
    text-transform: uppercase;
    color: #fff; }

  footer .bottom {
    padding-top: 150px; } }
.contact {
  margin-top: 20vh;
  overflow-x: hidden; }
  .contact .contact-body .row .intro p {
    font-size: 2.26em;
    color: 333; }
  .contact .contact-body .row .info {
    position: relative; }
    .contact .contact-body .row .info p {
      color: #999; }
      .contact .contact-body .row .info p a {
        color: #999; }
        .contact .contact-body .row .info p a:hover {
          color: #333; }
    .contact .contact-body .row .info .time {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .contact .contact-body .row .info .time h1 {
        font-size: 15em;
        color: rgba(0, 0, 0, 0.05); }
  .contact .contact-body .row .follow {
    padding-top: 50px; }
    .contact .contact-body .row .follow h4 {
      font-size: 0.875em; }
    .contact .contact-body .row .follow ul li {
      font-size: 1.5em; }
  .contact .contact-request {
    margin-top: 100px;
    position: relative; }
    .contact .contact-request .background {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 222, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0%; }
    .contact .contact-request > .row {
      padding-top: 70px;
      padding-bottom: 70px; }
      .contact .contact-request > .row .body .form-horizontal .row .form-control {
        background-color: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #999;
        box-shadow: none;
        margin-bottom: 30px; }
      .contact .contact-request > .row .body .form-horizontal .row textarea {
        resize: none; }
      .contact .contact-request > .row .body .form-horizontal .row .btn-default {
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        padding-left: 0;
        color: #999; }
        .contact .contact-request > .row .body .form-horizontal .row .btn-default:hover {
          color: #333; }
      .contact .contact-request > .row #requestForm .form-horizontal .row .form-control {
        background-color: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #999;
        box-shadow: none;
        margin-bottom: 30px; }
      .contact .contact-request > .row #requestForm .form-horizontal .row textarea {
        resize: none; }
      .contact .contact-request > .row #requestForm .form-horizontal .row .btn-default {
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        padding-left: 0;
        color: #999; }
        .contact .contact-request > .row #requestForm .form-horizontal .row .btn-default:hover {
          color: #333; }

/*
MAIN FOOTER FOR SITE

AUTHOR: hung.luong@matocreative.vn


/*
========== FOOTER ==========
 */
footer {
  padding-left: 0 !important;
  padding-right: 0 !important; }
  footer .bottom {
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 235px;
    position: relative; }
    footer .bottom .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0; }
    footer .bottom .container .row p {
      color: #fff; }
    footer .bottom .container .row h1 a {
      color: #fff;
      font-family: 'webFont-light', Helvetica, Serif; }
      footer .bottom .container .row h1 a b {
        font-family: 'webFont-bold', Helvetica, Serif; }
      footer .bottom .container .row h1 a:hover {
        color: #fff; }

/*# sourceMappingURL=style.css.map */
