@import "main";

.homepage{
    width: 100%;
    height: calc(100vh - 60px);
    background: url(../img/index/cover-index.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;

    .content{
        width: 300px;
        height: 400px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -150px;
        animation-name: show-work;
        animation-duration: 1.5s;

        .top, .bottom {
            width: 100%;
            height: 50%;
            text-align: center;
        }

        .top img{
            width: 90%;
            margin-top: 70px;
        }

        .bottom{
            background: #333;
            padding-top: 70px;
            text-transform:uppercase;

            h3{
                color:#fff;
            }

            &:hover{
                h3{
                    color: #333;
                }
            }

            a{
                font-style: normal;
            }
        }
    }

    @keyframes show-work{
        from{width: 900px; height: 1200px; margin-top: -600px; margin-left: -450px; opacity: 0;}
        to{width: 300px; height: 400px; margin-top: -200px; margin-left: -150px; opacity: 1;}
    }
}