@import "main";

.services{
    .row{
        .item{
            display: inline-block;

            h1{
                color: $gray;
                font-size: 4.5em;
            }

            h4{
                padding-bottom: 30px;
                border-bottom: 1px solid $gray;

                height: 3.5em;
            }

            ul{
                li{
                    padding:10px 0;
                    border-bottom:1px solid $gray;

                    &:last-of-type{
                        border-bottom:none;
                    }
                }
            }
        }
    }
}

.process{
    .item{
        margin-bottom:15px;

        .content{

        }

        .mask{
            padding-left:0;
            padding-right:0;

            img{
                width: 100%;
            }
        }
    }
}